@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.dib{
    display: inline-block;
}

.w33{
    width: 33.33%;
}

.body{
    width: 1440px;
    height: 100vh;
    background: url(../images/bg-pattern-top.svg) no-repeat, url(../images/bg-pattern-bottom.svg) no-repeat, hsl(185, 75%, 39%);
    background-position-x: calc(50% - 450px), calc(50% + 425px);
    background-position-y: calc(50% - 450px), calc(50% + 450px);
}

.card{
    width: 400px;
    height: 420px;
    background-color: white;
    border-radius: 15px;
    margin: 0 calc(50% - 200px);
    margin-top: 22vh;    
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: 100%;      
}

.radius-perfil{
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    background-image: url(../images/image-victor.jpg);
    background-size: cover;
    border: 4px solid white;
    margin: 0 auto;
    margin-top: 100px;
}

.information{
    text-align: center;
    padding-top: 25px;
}

.information h1{    
    font-size: 18px;
    font-weight: 700;    
    margin-right: 5px;   
}

.information h2{    
    font-size: 18px;
    font-weight: 400;    
    color: hsl(0, 0%, 59%);
}

.information p{    
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 15px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 30px;
}

.followers, .likes, .photos{
    margin-right: -4px;
    text-align: center;
}

.followers h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
    margin-top: 30px;
}

.followers p{
    font-size: 10px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    letter-spacing: 2px;
}

.likes h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
    margin-top: 30px;  
}

.likes p{
    font-size: 10px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    letter-spacing: 2px;
}

.photos h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
    margin-top: 30px;
}

.photos p{
    font-size: 10px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1440px){
    .body{
        width: 100%;
    }
}